#plasmo-shadow-container {
  display: inline-block;
  font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 20px;
  word-wrap: break-word;
  font-weight: 400;
  text-overflow: unset;
  min-width: 0;
  font-size: 15px;
  scrollbar-color: rgb(185, 202, 211) rgb(247, 249, 249);
  z-index: unset !important;
}

#container {
  position: relative;
}

#tooltip-backdrop {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
