#plasmo-shadow-container {
  display: inline-block;
  font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 20px;
  word-wrap: break-word;
  font-weight: 400;
  text-overflow: unset;
  min-width: 0;
  font-size: 15px;
  scrollbar-color: rgb(185, 202, 211) rgb(247, 249, 249);
  z-index: unset !important;
}

#container {
  position: relative;
}

#tooltip {
  position: absolute;
  background-color: rgba(255, 255, 255, 1.00);
  border: 0 solid black;
  border-radius: 12px;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
  line-height: 1.5;
  display: flex;
  max-width: 384px;
  max-height: 768px;
  overflow-y: auto;
  flex-direction: column;
}

.user {
  padding: 12px 16px;
}
